.Customize {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
        font-size: 3rem;
    }

    &__input {
        margin: 3vh 0;
        font-size: 1rem;
        color: black;
        padding: 5px;
        border-radius: 5px;
    }

    &__slider {
        margin-bottom: 3vh;
    }

    &__image {
        margin-top: 3vh;
        max-width: 200px;
        max-height: 200px;
        border: 2px solid black;
    }
}